@import url(style.scss);

.card {
  position: fixed;
  right: 1.2rem;
  bottom: 1.2rem;
  z-index: 10;
  width: 48rem;
  height: 28rem;
  background-color: var(--secondary);
  color: var(--alterante);
  cursor: pointer;
  border-radius: 1.2rem;

  .card_wrapper {
    padding: 2.4rem;

    .card_text {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;

      span {
        font-size: 2.4rem;
      }
    }
  }

  &:hover {
    background-color: var(--alterante);
    color: var(--secondary);
    transition: color 0.32s var(--ease);
  }
}

.modal {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 720;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .modal_wrapper {
    padding: 1.2rem;
    position: relative;
    width: fit-content;

    .modal_close {
      position: absolute;
      top: 2.4rem;
      right: 2.4rem;
      z-index: 2000;
      font-size: 7.2rem;
      color: var(--primary);
      cursor: pointer;
    }

    .modal_list {
      display: flex;
      gap: 0.96rem;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 9;
      width: fit-content;

      .modal_list_item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 2.4rem;
        overflow: hidden;
        width: 72rem;
        height: calc(33vh - 1rem);
        background-color: var(--secondary);
        transition: background-color 0.32s var(--ease);
        cursor: pointer;
        border-radius: 1.2rem;

        &:hover {
          background-color: var(--alterante);

          .modal_list_item_title {
            color: var(--secondary);
            transition: color 0.32s var(--ease);
          }

          .modal_list_item_paragraph {
            color: var(--secondary);
            transition: transform 0.32s var(--ease), color 0.32s var(--ease);
            transform: translateY(0);
          }
        }

        .modal_list_item_title {
          font-size: 3.6rem;
          color: var(--alterante);
          transition: color 0.32s var(--ease);
        }

        .modal_list_item_paragraph {
          font-size: 2rem;
          color: var(--alterante);
          text-align: justify;
          transition: transform 0.32s var(--ease), color 0.32s var(--ease);
          transform: translateY(150%);

          strong {
            font-size: 2rem;
            font-weight: 900;
          }

          .description {
            margin-bottom: 1rem;
            font-size: 2rem;
          }
        }
      }
    }
  }

  .modal_overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: pointer;
  }
}

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1434030216411-0b793f4b4173?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center/cover;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    content: "";
  }
}

.about_wrapper {
  display: flex;
  align-items: flex-end; /* 하단 정렬 */
  justify-content: flex-start; /* 좌측 정렬 */
  padding: 12rem;
  position: relative;
  width: 100vw;
  height: 100vh; /* 한 뷰포트 가득 채움 */
}

.about_paragraph_text {
  font-size: 7.2rem;
  font-weight: 100;
  line-height: 1.2;
  text-align: left;
  opacity: 0;
  @keyframes highlight {
    from {
      background-size: 0% 100%;
    }
    to {
      background-size: 100% 100%;
    }
  }

  .highlight {
    display: inline;
    padding: 0 5px;
    background: linear-gradient(
      120deg,
      var(--alterante) 0%,
      var(--alterante) 100%
    );
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 0% 100%;
    font-size: 7.2rem;
    transition: background-size 0.5s ease-in-out;

    &.animate {
      background-size: 100% 100% !important;
    }
  }
}

@media screen and (max-width: 768px) {
}
