/*?-----> Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 10;
}
.hero_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  gap: 6.4rem;
}
.hero_title {
  position: relative;
  width: 100%;
  text-align: center;
}
.hero_title_row {
  overflow: hidden;
}
.hero_title_row:nth-child(3) {
  position: absolute;
  top: 6.4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.hero_media {
  position: relative;
  z-index: -1;
}
.hero_media_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero_media_image {
  position: relative;
  object-fit: cover;
  opacity: 0.9;
}
.hero_media_image:nth-child(odd) {
  margin-right: -1.2rem;
}
.hero_media_image:nth-child(even) {
  margin-right: -1.2rem;
}
.hero_media_image:nth-child(1) {
  width: 12rem;
  height: 8rem;
}
.hero_media_image:nth-child(2) {
  width: 24rem;
  height: 32rem;
}
.hero_media_image:nth-child(3) {
  width: 28rem;
  height: 40rem;
}
.hero_media_image:nth-child(4) {
  width: 16rem;
  height: 20rem;
}
.hero_media_image:nth-child(5) {
  width: 8rem;
  height: 14rem;
}
.hero_media_image:nth-child(6) {
  width: 20rem;
  height: 24rem;
}
.hero_media_image:nth-child(7) {
  width: 24rem;
  height: 32rem;
}
.hero_media_image:nth-child(8) {
  width: 8rem;
  height: 12rem;
}

/*? -----> Responsive */
@media screen and (max-width: 768px) {
  html {
    font-size: calc(100vw / 768 * 10);
  }
  h1 {
    font-size: 11rem;
  }
  h2 {
    font-size: 6.4rem;
  }

  .hero_wrapper {
    gap: 0;
  }
  .hero_media {
    scale: 0.6;
  }
}
