@font-face {
  font-family: "Primary";
  src: url("./fonts/dmsans-medium.woff2") format("woff2"),
    url("./fonts/dmsans-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --primary: #202020;
  --secondary: #f5f5f5;
  --alterante: orangered;
  --ease: ease-in-out;
}
html {
  font-size: calc(100vw / 1920 * 10);
}
body {
  font-family: "Primary";
  background-color: var(--primary);
}

.app {
  color: var(--secondary);
}

/* ? Card */
.card {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 50rem;
  height: 30rem;

  border-radius: 1rem;
  background-color: var(--secondary);
  color: var(--alterante);

  cursor: pointer;
  z-index: 10;
}
.card_wrapper {
  padding: 2rem;
}
.card_text {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.card_text span {
  font-size: 2rem;
}

.card {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 999;
  width: 50rem;
  height: 30rem;
  background-color: var(--secondary);
  color: var(--alterante);
  cursor: pointer;
  border-radius: 1rem;

  /* 초기 상태 (숨김) */
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* 카드가 보일 때 (애니메이션 효과) */
.card.visible {
  opacity: 1;
  transform: translateX(0);
}

/* ?Modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  z-index: 10000;
  pointer-events: none;
  overflow: hidden;
}
.modal_wrapper {
  position: relative;
  padding: 1rem;
  width: fit-content;
}

.modal_close {
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: 9rem;
  color: var(--primary);

  cursor: pointer;
  z-index: 20;
}

.modal_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  gap: 1rem;
  z-index: 9;
}
.modal_list_item {
  width: 70rem;
  height: calc(33vh - 1rem);
  border-radius: 1rem;
  background-color: var(--secondary);
  transition: background-color 0.32s var(--ease);

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;
  overflow: hidden;
}
.modal_list_item_title {
  font-size: 6.4rem;
  color: var(--alterante);

  transition: color 0.32s var(--ease);
}
.modal_list_item_paragraph {
  font-size: 2rem;
  color: var(--alterante);
  transform: translateY(150%);

  transition: transform 0.32s var(--ease), color 0.32s var(--ease);
}

.modal_list_item:hover {
  background-color: orangered;
  transition: background-color 0.32s var(--ease);
}
.modal_list_item:hover .modal_list_item_title {
  color: var(--secondary);
  transition: color 0.32s var(--ease);
}
.modal_list_item:hover .modal_list_item_paragraph {
  color: var(--secondary);
  transform: translateY(0);

  transition: transform 0.32s var(--ease), color 0.32s var(--ease);
}

.modal_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
  pointer-events: none;
  cursor: pointer;
}

/* ?Hero */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -100;
}
.hero_wrapper {
  width: inherit;
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_title {
  font-size: 32rem;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  html {
    font-size: calc(100vw / 768 * 10);
  }
  .hero_title {
    font-size: 12rem;
    text-transform: uppercase;
  }
}
