:root {
  --primary: #e4e8ed;
  --secondary: #b9a1a1;
  --alternate: #d82e2e;
}

::-webkit-scrollbar {
  display: none;
}

// @font-face {
//   font-family: "Primary";
//   font-style: normal;
//   font-weight: 100;
//   src: url("./fonts/questrial.woff2") format("woff2"),
//     url("./fonts/questrial.woff2") format("woff");
//   font-display: swap;
// }

html {
  font-size: max(100vw/1920 * 10);
}

body {
  background-color: var(--primary);
  // font-family: "Primary";
  color: var(--secondary);
}

h1 {
  font-size: 24rem;
  line-height: 1;
}

h2 {
  font-size: 7.2rem;
  line-height: 1.5;
}

p {
  font-size: 2.4rem;
}

li,
span {
  display: block;
  font-size: 1.8rem;
  line-height: 1.2;
}
