@import url(reset.scss);

@font-face {
  font-family: "Primary";
  font-style: normal;
  font-weight: 400;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
}

@font-face {
  font-family: "secondary";
  font-style: normal;
  src: url("../Charlotte.otf") format("opentype");
}

@font-face {
  font-family: "alterante";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary: #252525;
  --secondary: #f5f5f5;
  --alterante: #f58ea9;
  --alterante2: #00674c;
  --ease: ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: var(--alterante);
  color: var(--secondary);
}

html {
  font-size: max(100vw/1920 * 10);
}

body {
  background-color: var(--primary);
  font-family: "Primary";
  color: var(--secondary);
}

html,
body {
  overflow: visible !important;
  height: auto;
}

h1 {
  font-size: 24rem;
  line-height: 0.7;
}

h2 {
  font-size: 7.2rem;
  line-height: 1.5;
}

p {
  font-size: 2.4rem;
}

li,
span {
  display: block;
  font-size: 1.8rem;
  line-height: 1.2;
}

.main {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;

    &:nth-child(4) {
      padding: 2rem;
      height: 30vh;
      background: #222;
      font-size: 0.9rem;
      color: #fff;
      text-align: center;
      .footer_container {
        margin: 0 auto;
        max-width: 1200px;
      }
      .footer_logo {
        // letter-spacing: 1.2rem;
        margin-bottom: 1.2rem;
        font-size: 3.6rem;
        font-weight: 900;
        text-transform: uppercase;
        font-family: "alterante";
      }
      .footer_links {
        display: flex;
        gap: 2.4rem;
        justify-content: center;
        margin-bottom: 1.2rem;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;

          a {
            color: var(--secondary);
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
              color: var(--alterante);
            }
          }
        }
      }

      .footer_copy {
        opacity: 0.7;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: max(100vw/768 * 10);
  }

  h1 {
    font-size: 24rem;
  }

  span {
    font-size: 2.4rem;
  }
}
